<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="UI.UserIOConsoleImpl" />

    <bean id="dao" class="VendingDao.VendingMachineDaoFileImpl" />


    <bean id="view" class="UI.VendingMachineView">
        <constructor-arg ref="io" />
    </bean>

    <bean id="service" class="Service.VendingMachineServiceImpl">
        <constructor-arg ref="dao" />
    </bean>

    <bean id="controller" class="Controller.VendingMachineController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>

</beans>